.dotStatus{
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 1px;
    width: 12px;
    margin-right: 3px;
}

.apiName{
    font-size: 12px!important;
    color: #586069!important;
}