.postCards{
    background-color: white;
    width: 600px;
    
    .postCard, .postCardTitle{
        border-bottom: 1px solid rgba(0,0,0,0.15);

        article{
            padding: 15px;

            .postCardInner{
                display: flex;
                flex-direction: row;

                .postCardImage{
                    margin: 0 10px 0 5px;
                    img{
                        width: 50px;
                        border-radius: 50%;
                    }
                }

                .postCardInfo{
                    .postCardInfoTop{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 5px;

                        .postCardInfoTopName{
                            font-size: 16px;
                            margin-right: 6px;
                        }

                        .postCardInfoTopUsername{
                            margin-top: 2px;
                            font-size: 14px;
                            color: #606060;
                        }
                    }
                }
            }
        }
    }

    .postCard:hover{
        background-color: #f5f8fa;
    }

    .postCardInner404{
        justify-content: center;
    }

    .notPost{
        font-family: "Calibri", "Arial", "Helvetica Neue", sans-serif;
        margin: 100px 0;
        color: #9b9b9b;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        i{
            margin-top: 5px;
            font-size: 60px;
        }
    }
}