.profile {
  .profileTop{
    position: relative;
    margin-bottom: 15px;

    .profileHeader {
      width: 100%;
      height: 40vh;
      background-color: #FDFBEE;
      background-image: url(../../../assets/images/test/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right 50%;
    }
  
    .profilePic {
      position: absolute;
      left: 100px;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 30px;
      max-width: 200px;
      z-index: 4;
      text-align: center;
  
      .profilePicCircle {
        border-radius: 100%;
        border: 4px solid #fff;
        margin: 0 auto;
        overflow: hidden;
        width: 124px;
        height: 124px;
        background-color: #FDFBEE;
        position: relative;
        margin-bottom: 5px;
  
  
      img {
          width: 100%;
          border-radius: 0;
          max-width: unset;
          overflow: hidden;
          border-radius: 100%;
          vertical-align: middle;
          border-style: none;
        }
      }
  
      .profileInfoName {
        font-size: 20px;
      }
  
      .profileInfoUsername {
        font-size: 18px;
        color: #606060;
      }
    }
  
    .profileInfo {
      background-color: white;
      z-index: 3;
      position: relative;
      padding: 35px 0;
      
      .profileInfoInner {
        display: flex;
        flex-direction: row;
        margin-left: 240px;
        margin-right: 50px;
  
        .profileInfoInnerStat{
            text-align: center;
            margin-right: 40px;
  
            span{
                font-weight: bold;
                font-size: 18px;
            }
            p{
              color: #606060;
              font-size: 15px;
            }
        }
      }

      .profileInfoInnerFollow{
        margin-left: auto;

        button{
          cursor: pointer;
          padding: 10px 25px;
          border-radius: 30px;
          color: white;
          font-weight: bold;
          width: 100%;
          height: 100%;
          background-color: #30c14b;
          &:hover{
            background-color: #1f9e36;
          }
        }

        .unfollow{
          background-color: #969696;
          &:hover{
            background-color: #828282;
          }
        }
      }
    }
  }

}

