<div class="profile">
    <div class="profileTop">
        <div class="profileHeader"></div>

        <div class="profilePic">
            <div class="profilePicCircle">
                <img *ngIf=!usuario.profile_img_url src="./assets/images/profileTemporal/profile_0.jpg"
                    alt="profilePic">
                <img *ngIf=usuario.profile_img_url src="./assets/images/profileTemporal/{{ usuario.profile_img_url }}"
                    alt="profilePic">
            </div>

            <div>
                <h2 class="profileInfoName">{{ usuario.name }}</h2>
                <p class="profileInfoUsername">@{{ usuario.username }}</p>
            </div>
        </div>

        <div class="profileInfo">
            <div class="profileInfoInner">
                <div class="profileInfoInnerStat">
                    <span *ngIf=usuario.posts>{{ usuario.posts }}</span>
                    <span *ngIf=!usuario.posts>0</span>
                    <p>Posts</p>
                </div>

                <div class="profileInfoInnerStat">
                    <span *ngIf=usuario.followers>{{ usuario.followers }}</span>
                    <span *ngIf=!usuario.followers>0</span>
                    <p>Seguidores</p>
                </div>

                <div class="profileInfoInnerStat">
                    <span *ngIf=usuario.following>{{ usuario.following }}</span>
                    <span *ngIf=!usuario.following>0</span>
                    <p>Seguidos</p>
                </div>

                <div class="profileInfoInnerStat">
                    <span>218</span>
                    <p>Favoritos</p>
                </div>

                <div class="profileInfoInnerFollow">
                    <button (click)="followUser()" *ngIf="!isFollowed">Seguir</button>
                    <button (click)="followUser()" *ngIf="isFollowed" class="unfollow">No Seguir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="cardsContainer">
        <app-posts postsTitle="Mis posts" component="profile"></app-posts>
    </div>
</div>